.goods-container {
    padding: 10px 30px;
}

.goods-container-title {
    font-size: 24px;
    font-family: Gibson, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1;
    color: #333645;
    margin-bottom: 25px;
}

.goods-icon {
    color: #059FDE;
    height: 22px;
    width: 22px;
}

.goods-icon.icon-disabled {
    color: #C3C3C3;
}

.goods-item {
    width: 850px;
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 18px 18px;
}

.goods-item.selected {
    -webkit-box-shadow: 0px 0px 0px 1px #059FDE;
    -moz-box-shadow: 0px 0px 0px 1px #059FDE;
    box-shadow: 0px 0px 0px 1px #059FDE;
}

.goods-title-wrapper {
    margin-bottom: 0px;
    /*height: 22px;*/
}

.goods-title {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    display: inline-block;
}

.goods-title-link {
    color: #000;
    text-decoration: none;
}

.goods-title-link:visited {
    color: #000
}

.goods-icon-wrapper {
    /*padding-top: 6px;*/
    display: inline-block;
    height: 25px;
}

.goods-icon-approved {
    color: #00B526;
    font-weight: 700;
    height: 22px;
    width: 22px;
    vertical-align: middle;
}

.goods-content {
    padding: 0 30px 0 0;
}
