<div class="goods-container" *ngIf="selectedProject">
    <h1 class="goods-container-title">{{selectedProject.name}}</h1>
    <md-card *ngFor="let goods of goodsList; let i = index"
             [class.selected]="goods === selectedGoods"
             (click)="onSelect(goods)"
             class="goods-item">
        <div fxLayout="row">
            <div fxFlex="35px" class="goods-icon-wrapper">
                <i *ngIf="goods.isArchived !== true" class="goods-icon material-icons">description</i>
                <i *ngIf="goods.isArchived === true"
                   class="goods-icon icon-disabled material-icons">delete</i>
            </div>
            <div fxFlex>
                <div fxLayout="row" fxLayoutAlign="space-between end" class="goods-title-wrapper">
                    <div fxFlex="40">
                        <div class="goods-title"
                             *ngIf="!goods.editMode">
                            <a class="goods-title-link"
                               href="/#project/{{goods.id}}">
                                {{goods.name}}
                            </a>
                        </div>
                        <div class="goods-title" *ngIf="goods.editMode == true">
                            <md-input-container style="width: 300px">
                                <input mdInput
                                       [(ngModel)]="goods.name"
                                       maxLength="40"
                                       (keydown)="onKeyDown($event, goods)" />
                                <md-hint align="start">

                                </md-hint>
                            </md-input-container>
                        </div>
                        <i *ngIf="goods.isApproved" class="goods-icon-approved material-icons">done
                        </i>
                    </div>
                    <div fxFlex="40" style="text-align: right;">
                        <goods-control [goods]="goods"
                                               [goodss]="goodss"
                                               [i]="i"
                                               (editMode)="onEditModeChange($event, goods)"></goods-control>
                    </div>
                </div>
                <goods-description [goods]="goods"></goods-description>

                <md-card-content class="goods-content">
                    <p *ngIf="!goods.editMode">{{ goods.description }}</p>
                    <md-input-container *ngIf="goods.editMode"
                                        style="width: 785px;">
                        <textarea mdInput [(ngModel)]="goods.description"
                                  (keydown)="onKeyDown($event, goods)"
                                  style="resize: none"></textarea>
                    </md-input-container>
                </md-card-content>
            </div>
        </div>

    </md-card>
</div>