.add-goods {
    width: 200px;
    height: 55px;
    padding-top: 20px;
    background-color: #F7F7F7;
}

button.btn-plus.mat-button, .mat-button-focus.mat-button .mat-button-focus-overlay,.mat-button-focus.mat-fab .mat-button-focus-overlay,.mat-button-focus.mat-icon-button .mat-button-focus-overlay,.mat-button-focus.mat-mini-fab .mat-button-focus-overlay,.mat-button-focus.mat-raised-button .mat-button-focus-overlay,.mat-button:hover .mat-button-focus-overlay,.mat-icon-button:hover .mat-button-focus-overlay{opacity:1}.mat-button,.mat-fab,.mat-icon-button,.mat-mini-fab,.mat-raised-button{
    background-color: #F7F7F7;
}

.add-goods form.ng-untouched.ng-pristine.ng-valid {
    margin-left: 20px;
    padding-top: 5px;
}