<link href="https://unpkg.com/@angular/animations/bundles/animations.umd.js" >
<!--link rel="stylesheet" href="sale.components.css"-->

<div position:relative>
	<button md-button id="Button1" style="position:absolute;left:425px;top:96px;width:96px;height:33px;z-index:1;" >Products</button>
    <button md-button id="Button2" style="position:absolute;left:598px;top:96px;width:96px;height:33px;z-index:2;" >Orders</button>
	<button md-button id="Button3" style="position:absolute;left:202px;top:143px;width:110px;height:33px;z-index:3;" >Add Category</button>
	<button md-button id="Button4" style="position:absolute;left:314px;top:143px;width:110px;height:33px;z-index:4;" >Edit Category</button>
	<button md-button id="Button5" style="position:absolute;left:426px;top:143px;width:120px;height:33px;z-index:5;" >Delete Category</button>
	<button md-button id="Button6" style="position:absolute;left:566px;top:143px;width:110px;height:33px;z-index:6" >Add Product</button>
	<button md-button id="Button7" style="position:absolute;left:678px;top:143px;width:110px;height:33px;z-index:7" >Edit Product</button>
	<button md-button id="Button8" style="position:absolute;left:790px;top:143px;width:120px;height:33px;z-index:8;" >Delete Product</button>

	<div position:relative>
	<menu-1 style="position:absolute;left:200px;top:200px;"> </menu-1>

	</div>

	<!--div position:relative>
	<menu-0 style="position:absolute;left:300px;top:200px;"> </menu-0>

	</div-->
	
	<div position:relative>
	<search1 style="position:absolute;left:350px;top:206px;"> </search1>
	</div>
	
	<div class="catalog">
    <buyer-catalog-component></buyer-catalog-component>
    </div>
	
	</div>
