
	<button md-button id="Button1" style="position:absolute;left:379px;top:96px;width:96px;height:25px;z-index:1;" >Products</button>
    <button md-button id="Button2" style="position:absolute;left:548px;top:96px;width:130px;height:25px;z-index:2;" >Orders</button>
	<button md-button id="Button3" style="position:absolute;left:202px;top:143px;width:110px;height:33px;z-index:4;" >Add Category</button>
	<button md-button id="Button4" style="position:absolute;left:312px;top:143px;width:129px;height:33px;z-index:5;" >Edit Category</button>
	<button md-button id="Button5" style="position:absolute;left:441px;top:143px;width:110px;height:33px;z-index:6;" >Delete Category</button>
	<button md-button id="Button6" style="position:absolute;left:566px;top:143px;width:88px;height:33px;z-index:7" >Add Product</button>
	<button md-button id="Button7" style="position:absolute;left:655px;top:143px;width:110px;height:33px;z-index:8" >Edit Product</button>
	<button md-button id="Button8" style="position:absolute;left:765px;top:143px;width:110px;height:33px;z-index:9;" >Delete Product</button>
	
	
	