.search-bc {
  background-color: #FFFFFF;
  width: 150px;
  height: 480px;
  display: block;
  padding: 20px;
  font-size: 14px;
  font-family: Gibson, Helvetica, Arial, sans-serif;
  color: #333645;
  right: 25px;
}

input._ngcontent-ckd-50.grey-150px, .grey-150px {
  display: block;
  width: 150px;
  height: 25px;
  border-width: 0;
  margin-bottom: 20px;
  border: 1px solid rgb(215,216,218);
  border-radius: 3px;

}

.search-label-input {
  float: left;
  margin-bottom: 5px;

}
.search-label-container {
  display: block;
  padding: 0;
  width: 150px;
}

.search-radio-container {
  margin-top:20px;
  display: block;
  padding: 0;
  width: 20px;
}
