<div class="search-bc">
    <form name="test" method="post">
        <label class="search-label-container">
            <span class="search-label-input">Name</span>
            <input type="text" class="grey-150px">
        </label>
        <label class="search-label-container">
            <span class="search-label-input">Categories</span>
            <input type="text" class="grey-150px">
        </label>
        <label class="search-label-container">
            <span class="search-label-input">Seller</span>
            <select name="All" class="grey-150px">
                <option selected="selected">All</option>
            </select>
        </label>
        <label class="search-label-container">
            <span class="search-label-input">Status</span>
            <select name="All" class="grey-150px">
                <option selected="selected">All</option>
            </select>
        </label>
        <div>
            <md-checkbox class="checkbox-violet">
                Sold
            </md-checkbox>
            <md-checkbox class="checkbox-violet">
                Show All
            </md-checkbox>
        </div>
        <div class="radio-violet search-label-container">
            <span class="search-label-input">Sort By</span>
            <md-radio-group class="search-radio-container">
                <md-radio-button value="Date" class="md-primary"> Date</md-radio-button>
                <md-radio-button value="Sales"> Sales</md-radio-button>
            </md-radio-group>
        </div>
    </form>
</div>