<div>
  <md-sidenav-container class="example-container">
    <md-sidenav mode = "side" opened = "true" #sidenav class="example-sidenav">



      <div class="box search">
        <h2>Search by <span></span></h2>
        <div class="box-content">
          <!-- <form action="" method="post"> -->
          <div class="inputsearch">
            <left-sidebar-input> </left-sidebar-input>
          </div>
          <div class="categoriessearch">
            <left-sidebar-categories> </left-sidebar-categories>

          </div>
          <div class="price1">
            <left-sidebar-price1></left-sidebar-price1>
          </div>
          <div class="price2">
            <left-sidebar-price2></left-sidebar-price2>
          </div>



          <input type="submit" class="search-submit" value="Search" />

          <p>
            <a href="#" class="bul">Advanced search</a><br />
            <a href="#" class="bul">Contact Customer Support</a>
          </p>

          <!-- </form> -->

        </div>
      </div>


      <div class="box categories">
        <h2>Categories <span></span></h2>
        <div class="box-content">
          <ul>
            <li><a href="#">Category 1</a></li>
            <li><a href="#">Category 2</a></li>
            <li><a href="#">Category 3</a></li>
            <li><a href="#">Category 4</a></li>
            <li><a href="#">Category 5</a></li>

          </ul>
        </div>
      </div>

    </md-sidenav>
  </md-sidenav-container>
</div>
