body {
background-color: lightgrey;
}

.header{
  width: 1000px;
  height: auto;
  border:1px solid blue;

}

.middle {

}

.left-sidebar{
  width: 300px;
  height: 600px;
  border: 1px solid blue;
  float: left;
}

.content{
  width: 700px;
  height: 600px;
  border: 1px solid blue;
  margin-left: 300px;
}

.footer{
  width: 1000px;
  height: 70px;
  border: 1px solid blue;
  bottom: 0;
}
