<div id="sidebar">
    <!--Sales-->
    <div class="box categories">

        <h2>Sales<span></span></h2>
        <div class="box-content">

        </div>
    </div>
    <!--Sales end-->

    <!--Registration-->
    <div class="box categories">

        <h2>Registration<span></span></h2>
        <div class="box-content">
            <buyer-reg></buyer-reg>
        </div>
    </div>
    <!--Registration end-->

    <!-- Categories -->
    <div class="box categories">
        <h2>Categories <span></span></h2>
        <div class="box-content">
            <buyer-category></buyer-category>
        </div>
    </div>
    <!-- Categories end -->

    <!-- Search box-->
    <div class="box search">
        <h2>Search by <span></span></h2>
        <div class="box-content">
            <search></search>
        </div>
    </div>
    <!--  Search box end -->




</div>
