.main-header {
    display: block;
    padding-left: 30px;
    background-color: #333645;
    width: 100%;
    height: 50px;
    color: #dce4ec;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 10px;
    z-index: 1000;
}


.menu-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 134px;
    height: 50px;
    color: #dce4ec;
    border-style: none;
    background-color: #333645 !important;
    box-shadow: none !important;
    text-decoration: none;
    font-size: 14px;
    font-family: Gibson, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: auto;
    float: right;
}
.menu-btn:active, .menu-btn:focus  {
    border: none;
}


.menu-btn:focus {
    border-color: transparent;
    outline-color: transparent;
}

.menu-btn:focus.menu-btn:after/* .menu-btn-icon:after*/  {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.header-item-mail-active:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 8px;
    height: 8px;
    background-color: #ff0048;
    border: 2px solid #333645;
    border-radius: 50%;
}

.header-menu-item {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    padding: 0 12px;
    line-height: 50px;
    font-size: 14px;
    font-family: Gibson, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    float: left;
}

.header-menu-item-active {
    background-color: #059fde;
}
.header-right-items {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 50px;
    vertical-align: middle;
    padding-right: 0;
}

.header-left-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 50px;
    vertical-align: middle;
    padding-left: 30px;
    text-align: center;
}

