<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8"/>
                <title>Hi-tech</title>
        </head>
        <body>
            <!-- Header-->
            <div id="header">
              <h1 id="logo"><a href="#">Hi-Tech</a></h1>



                  		<!-- Navigation -->
                  		<div id="navigation">
                  			<ul>
                  			    <li><a href="#" class="active">Home</a></li>
                  			    <li><a href="#">Support</a></li>
                  			    <li><a href="#">My Account</a></li>
                  			    <li><a href="#">The Store</a></li>
                  			    <li><a href="#">Your Cart</a></li>
                  			</ul>
                  		</div>
            </div>
            <!-- Header end-->

            <!--Middle-->
            <div id="middle" style = "center">

            <!-- Left-sidebar-->
            <div id ="left-sidebar">

            <left-sidebar> </left-sidebar>

            </div>
          <!-- Left-sidebar end-->
          <!-- Content-sidebar-->
          <div class="catalog">
            <buyer-catalog-component></buyer-catalog-component>
          </div>
          </div>
          <!-- Content-sidebar end-->
          <!--Middle end-->

          <!-- Footer -->
          <div class="footer">
          </div>
          <!-- Footer end-->
        </body>
</html>
