body {
background-color: lightgrey;
font-family: "Trebuchet MS", Arial, sans-serif;
	font-size:12px;
	line-height:16px;
}

#header{
  margin:0 auto;
  padding:10px;
  background:#fff;
  width: 1000px;
  height: auto;
  border:1px solid blue;
  background:url(images/header.gif); position:relative;
}

h1#logo a{ display:block; height:64px; text-indent: -4000px; background:url(images/logo.gif);

#navigation { float:right; white-space:nowrap; }
#navigation ul{ height:64px; font-weight: bold; float:left;}
#navigation ul li{ float:left; display:inline; }
#navigation ul li a{ float:left; height:64px; line-height:64px; text-decoration: none; color:#fff; padding:0 15px;}
#navigation ul li a.active,
#navigation ul li a:hover{ background:#fff; color:#8b0000; }

}



#middle {
position:relative;
display:block;
align-self: center;
padding:10px 0 0 0;
}

#left-sidebar{
  width: 300px;
  height: 600px;
  border: 1px solid blue;
  float: left;
	/* Search-Box left-sidebar*/
}


.catalog{
  width: 700px;
  height: auto;
  border: 1px solid blue;
  margin-left: 300px;
}

.footer{
  width: 1000px;
  height: 70px;
  border: 1px solid blue;
  bottom: 0;
}
