<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8"/>
                <title>Hi-tech</title>
        </head>
        <body>
            <!-- Header-->
            <div class="header">
            </div>
            <!-- Header end-->
            <div class="middle" style = "center">
            <!-- Left-sidebar-->
            <div class="left-sidebar">
                <navbutton></navbutton>
            </div>
          <!-- Left-sidebar end-->
          <!-- Content-sidebar-->
          <div class="content">
          </div>
          </div>
          <!-- Content-sidebar end-->
          <!-- Footer -->
          <div class="footer">
          </div>
          <!-- Footer end-->
        </body>
</html>
