.project-item {
  min-height: 70px;
  max-height: 100px;
}

.project-item:hover {
  background-color: #F0F1F3;
}
.project-item#selected {
  background-color: #F7F7F7;
}


.project-item:hover .edit-delete {
  display : block;
}

.project-name {
  /*width: 120px;*/
  display: block !important; /* Fallback for non-webkit */
  display: -webkit-box !important;
  max-width: 400px;
  /*height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  /*font-size: $font-size;
  line-height: $line-height;*/
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: pre-line !important;
  font-size: 13px;
}

.project-item:hover .name {
  width: 120px;
  -webkit-line-clamp: 2;
}


.project-item .edit-delete{
  display: none;
  margin-right: -20px;
}

.project-item .edit-delete ul.btns-grey li,  .project-item .edit-delete ul.btns-grey li div{
  display:inline;
}

.project-item .edit-delete ul.btns-grey {
  width: 105px;
  padding: 0px;
}
