<p><search-input></search-input></p>
<p><search-categories></search-categories></p>
<table><tr>
           <td>
               <search-price1></search-price1>
           </td>
           <td>
               <search-price2></search-price2>
           </td>
       </tr>
</table>
<div>
    <router-outlet></router-outlet>
</div>
<p>
<search-button></search-button>
</p>
<div>
    <p> <a routerLink="advanced-search" routerLinkActive="active">AdvansedSearch</a></p>
    <p> <a routerLink="/customer-support" routerLinkActive="active">CustomerSupport</a></p>
</div>

