<ul>

<li>

<div class="storage">



<md-card class="example-card" *ngFor="let good of goodList">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{good}}</md-card-title>
    <md-card-subtitle>IPhone 7</md-card-subtitle>
  </md-card-header>
  <div class="photo">


  <img md-card-image src="https://store.storeimages.cdn-apple.com/4974/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone7/model/iphone7-model-select-201703?wid=212&hei=293&fmt=png-alpha&qlt=95&.v=1489097365439">
</div>
  <md-card-content>
    <p>
      5.5-inch (diagonal) Retina HD display with 1920-by-1080 resolution and wide color
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)= "selectedGood(good)">Buy now</button>
    <button md-button>Compare models</button>
  </md-card-actions>
</md-card>

</div>
</li>
  </ul>
