<div class="goods-readonly">
    <span *ngIf="goods.status === 'Submitted'">Read Only</span>
    <!--<span>Read Only</span>-->

</div>
<md-chip-list class="goods-description">
    <md-chip class="goods-status {{resolveStatusColors(goods.status)}}">
        {{goods.status}}
    </md-chip>
    <md-chip class="goods-domain">
        {{resolveFunctionalDomain(goods.functionalDomainId)}}
    </md-chip>
    <md-chip class="goods-date">
        {{ goods.createdDate | date:'shortDate' }},
        {{ goods.author }}
    </md-chip>
</md-chip-list>