<ul>
  <li>
    <div class="storage">
      <md-card class="example-card" *ngFor="let good of goodList">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{good}}</md-card-title>
          <md-card-subtitle>IPhone 7</md-card-subtitle>
        </md-card-header>
        <div class="photo">
          <img md-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/IPhone_6_Plus_Space_Gray.svg/510px-IPhone_6_Plus_Space_Gray.svg.png">
        </div>
        <md-card-content>
          <p>
            5.5-inch (diagonal) Retina HD display with 1920-by-1080 resolution and wide color
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button (click)= "selectedGood(good)">Buy now</button>
          <button md-button routerLink="/details" routerLinkActive="active">Details</button>

        </md-card-actions>
      </md-card>


    </div>
  </li>
</ul>
