<!--<i class="material-icons">mode_edit</i>-->
<button class="goods-control edit-control"
        (click)="onEdit()">
    <i class="goods-control-icon material-icons">mode_edit</i>
</button>
<!--approve-->
<button *ngIf="!goods.isApproved" class="goods-control" disableRipple="true"
        (click)="onApprove(goods)">
    <md-icon class="goods-control-icon icon-approved md-24">done</md-icon>
    {{approveButtonName}}
</button>
<button class="goods-control" (click)="onDuplicate(goods)">
    <md-icon class="goods-control-icon md-24">content_copy</md-icon>
    {{duplicateButtonName}}
</button>
<!--archive-->
<button *ngIf="!goods.isArchived" class="goods-control"
        (click)="onArchive(goods)">
    <md-icon class="goods-control-icon md-24">delete</md-icon>
    {{archiveButtonName}}
</button>
<!--unarchive-->
<button *ngIf="goods.isArchived" class="goods-control"
        (click)="onUnarchive(goods)">
    <md-icon class="goods-control-icon md-24">replay</md-icon>
    {{unarchiveButtonName}}
</button>
<button *ngIf="goods.isArchived" class="goods-control"
        (click)="onDelete(goods, i)">
    <md-icon class="goods-control-icon md-24">delete</md-icon>
    {{deleteButtonName}}
</button>