<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Name">
  </md-input-container>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="login">
  </md-input-container>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="email">
  </md-input-container>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="password">
  </md-input-container>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="address">
  </md-input-container>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="phone">
  </md-input-container>
  <button md-button>Submit</button>
</form>
